<h3>Login Success</h3>
<h5>Console Home Screen</h5>
<span>Email login: <%= @email %></span>

<%= link_to "Logout", console_logout_path, method: :delete, data: { confirm: "Do you want to logout?" } %>
